@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ced8ff;
  background-image: -webkit-linear-gradient(65deg, #bcf5d7 40%, #e7f5b3 60%);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Baloo+2', cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 24px;
  height: 70vh;
  align-items: center;
  margin: 10% 0;
}

.calc-title {
  width: 96%;
  margin: 0 2%;
  text-align: center;
}

.calc-box {
  background-color: rgb(163, 162, 162);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 1px solid rgb(171, 171, 170);
  margin-bottom: 30px;
}

.screen {
  width: 100%;
  text-align: right;
  line-height: 35px;
  height: 35px;
}

.output {
  margin-right: 10px;
  font-size: 24px;
  color: #fff;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

button {
  background-color: #d3d3d3;
  border: 1px solid rgb(217, 217, 217);
  padding: 0;
}

button:active {
  transform: scale(0.96);
  transition: 0.7s all ease-out;
  border: 2px solid #000;
}

.calc {
  width: 25%;
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
}

.active {
  background-color: rgb(228, 126, 36);
}

.zero {
  width: 50%;
  height: 40px;
}

/* NavBar styling  */
.navBar {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  width: 90%;
  margin: 0 5%;
  flex-wrap: wrap;
}

.navMenu {
  display: flex;
  padding: 20px 10px;
  width: 100%;
  margin-left: -25px;
}

.navMenu li {
  list-style-type: none;
  padding: 0 10px;
  border-right: 2px solid #000;
  text-align: center;
}

.navMenu li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  padding: 0 8px;
}

/* homepage styling */

.home-container {
  margin: 80px 10%;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.welcome {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}

.home-para {
  margin-bottom: 30px;
}

.listContainer {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.listItem {
  list-style: square;
}

.listItem::marker {
  color: red;
}

/* quote styling  */
.quoteCont {
  margin: 20% 5%;
  width: 90%;
  text-align: center;
}

@media screen and (min-width: 768px){
  .navBar {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navMenu {
    display: flex;
    padding: 0 10px;
    width: 30%;
  }

  .navMenu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    padding: 0 8px;
  }

  /* calculator styling  */
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 24px;
    height: 70vh;
    align-items: flex-start;
  }

  .calc-title {
    width: 96%;
    margin: 0 2%;
    text-align: start;
    padding-left: 30px;
  }

  .calc-box {
    margin-right: 100px;
  }

  /* quote styling  */
  .quoteCont {
    margin-top: 20%;
    margin: 10% 5%;
    width: 90%;
    text-align: center;
  }
}